#skills img {
  padding: 0 20px;
  width: 120px;
}

.skill-icon {
  position: relative;
  min-height: 1px;
  padding-bottom: 20px;
  float: left;
}

.skill-icons {
  width: 360px;
  margin: 0 auto;
}

.skill-icons:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 588px) {
  .skill-icons {
    width: 480px;
  }
}

@media (min-width: 800px) {
  .skill-icons {
    width: 720px;
  }
}

/* Image */

  .image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
  }

    .image:before {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      background: url("images/overlay-thumb.png");
      border-radius: 0.35em;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .image.thumb {
      text-align: center;
    }

      .image.thumb:after {
        -moz-transition: opacity 0.2s ease-in-out;
        -webkit-transition: opacity 0.2s ease-in-out;
        -ms-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        border-radius: 0.35em;
        border: solid 3px rgba(255, 255, 255, 0.5);
        color: #fff;
        content: 'View';
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
        left: 50%;
        line-height: 2.25em;
        margin: -1.25em 0 0 -3em;
        opacity: 0;
        padding: 0 1.5em;
        position: absolute;
        text-align: center;
        text-decoration: none;
        top: 50%;
        white-space: nowrap;
      }

      .image.thumb:hover:after {
        opacity: 1.0;
      }

      .image.thumb:hover:before {
        background: url("images/overlay-thumb.png"), url("images/overlay-thumb.png");
        opacity: 1.0;
      }

    .image img {
      border-radius: 0.35em;
      display: block;
    }

    article > * {
      text-align: left;
    }

    article > p {
      font-size: 16px;
      line-height: 1.5em;
    }

    article > a {
      font-size: 18px;
      line-height: 1.5em;
    }

    a {
      cursor: pointer;
    }

#top > .shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
}

#top, #top * {
  position: relative;
}

#logo > img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
