.footer-menu-link,
.footer__menu .menu-item a,
.newsletter__input-group .gfield_description,
.newsletter__input-group .gfield_label {
font-size: .875rem;
line-height: 1.64286
}

@media (min-width:1220px) {
.footer-menu-link,
.footer__menu .menu-item a,
.newsletter__input-group .gfield_description,
.newsletter__input-group .gfield_label {
  font-size: 1rem;
  line-height: 2.0625
}
}

.local-nav-label {
font-size: .8125rem;
line-height: 1.23077;
letter-spacing: .10692em
}

@media (min-width:1220px) {
.local-nav-label {
  font-size: .875rem;
  line-height: 1.28571;
  letter-spacing: .10714em
}
}

.local-nav-label {
text-transform: uppercase
}

.button,
.skip_link {
position: relative;
display: inline-block;
padding: 14px 30px;
text-align: center;
color: #fff;
background-color: transparent;
border: none;
-webkit-transition: .3s ease;
-o-transition: .3s ease;
transition: .3s ease;
overflow: hidden;
z-index: 1
}

.button:before,
.skip_link:before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: #0273d3;
z-index: -1
}

.button:after,
.skip_link:after {
content: "";
position: absolute;
left: -10%;
width: 0;
bottom: -1%;
height: 120%;
-webkit-transition: .3s ease;
-o-transition: .3s ease;
transition: .3s ease;
background: #002855;
-webkit-transform: skewX(15deg) translateZ(0);
transform: skewX(15deg) translateZ(0);
z-index: -1
}

.button:hover,
.skip_link:hover {
cursor: pointer
}

.button:hover:after,
.skip_link:hover:after {
left: -10%;
width: 120%
}

.footer__wrapper {
padding-top: 25px;
margin-top: 0;
}

.footer__wrapper:after {
content: "";
position: absolute;
right: 0;
left: 0;
top: 0;
height: 50%;
z-index: -1;
display: block;
-webkit-transform-origin: 100% 0;
-ms-transform-origin: 100% 0;
transform-origin: 100% 0;
}

@media (min-width:980px) {
.footer__block-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 59%, .41)
}
}

.footer__block-menu {
margin-bottom: 15px
}

@media (min-width:600px) {
.footer__block-menu {
  margin-bottom: 30px
}
}

@media (min-width:740px) {
.footer__block-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
}

@media (min-width:980px) {
.footer__block-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin-bottom: 0;
}
}

.footer__block-social {
padding-bottom: 20px;
border-bottom: 1px solid hsla(0, 0%, 59%, .41)
}

@media (min-width:600px) {
.footer__block-social {
  padding-bottom: 20px
}
}

.footer__widget {
padding-top: 4px;
padding-bottom: 2px;
border-bottom: 1px solid hsla(0, 0%, 59%, .41)
}

@media (min-width:600px) {
.footer__widget {
  padding-bottom: 4px
}
}

@media (min-width:740px) {
.footer__widget {
  border-bottom: 0
}
}

.footer__widget .footer__menu {
max-height: 0;
-webkit-transition: max-height .3s ease-in-out;
-o-transition: max-height .3s ease-in-out;
transition: max-height .3s ease-in-out;
overflow: hidden
}

@media (min-width:740px) {
.footer__widget .footer__menu {
  max-height: none;
  overflow: visible
}
}

.footer__widget .footer__menu a:hover {
color: #c4d600
}

.footer__widget-title {
font-weight: bold;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
cursor: pointer
}

@media (min-width:740px) {
.footer__widget-title {
  cursor: default
}
}

@media (min-width:980px) {
.footer__widget-title {
  margin-bottom: 10px
}
}

@media (min-width:1220px) {
.footer__widget-title {
  margin-bottom: 20px
}
}

@media (min-width:1440px) {
.footer__widget-title {
  margin-bottom: 15px
}
}

.footer__widget-icon {
-webkit-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
color: #0273d3;
font-size: 1.7em
}

@media (min-width:740px) {
.footer__widget-icon {
  display: none
}
}

.footer__widget--activate .footer__menu {
max-height: 9999px
}

@media (min-width:740px) {
.footer__widget--activate .footer__menu {
  max-height: none
}
}

.footer__widget--activate .footer__widget-icon {
-webkit-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
transform: rotate(-180deg)
}

.footer__block-bottom {
margin-top: 23px;
text-align: center;
}

@media (min-width:740px) {
.footer__block-bottom {
  margin-top: 0;
}
}

.footer__copyright, .footer__owner {
color: hsla(0, 0%, 100%, .7)
}

.footer__owner {
font-size:0.75rem;
}

.footer__menu {
padding-top: 5px
}

@media (min-width:740px) {
.footer__menu {
  padding-top: 0
}
}

.footer__menu .menu-item {
padding: 4px 0
}

.footer__menu .menu-item:last-of-type {
padding-bottom: 8px
}

@media (min-width:740px) {
.footer__menu .menu-item {
  padding: 0
}
}

.icon-triagle-down:before {
  content: "\E901"
}

